.mat-title {
  font-size: 100%;
  font-weight: bold;
  text-align: center;
}
.homeButton {
  background-color: #4CAF50;
  position: absolute;
  left: 42%;
  top: 85%;
  width: 15%;
  height: 7%;
  float: right;
  color: #ffffff;
  margin-bottom: 20px;
}

.example-card {
  position: absolute;
  left: 20%;
  top: 30%;
  height: 50%;
  width: 60%;
}

#header {
  width: 100%;
  text-align:center;
}

label.kph {
  position: absolute;
  height: 20%;
  top: 33%;
  left: 14%;
  width: 25%;
  border: none;
  font-size: 200%;
  color: #42683c;
}

label.accuracy{
  position: absolute;
  left: 36%;
  width: 25%;
  top: 33%;
  height: 20%;
  background-color: Transparent;
  border: none;
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  color: #42683c;
}

label.backspaces {
  position: absolute;
  left: 65%;
  top: 33%;
  width: 25%;
  height: 20%;
  border: none;
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  color: #42683c;
}
input.kph {
  position: absolute;
  height: 20%;
  top: 45%;
  left: 8%;
  border: double;
  border-color: #42683c;
  color: #4CAF50;
  text-align: center;
  font-weight: bold;
  width: 20%;
  font-size: 200%;
}

input.accuracy{
  position: absolute;
  left: 38%;
  width: 20%;
  top: 45%;
  height: 20%;
  border: double;
  border-color: #42683c;
  color: #4CAF50;
  text-align: center;
  font-weight: bold;
  font-size: 200%;
}

input.backspaces {
  position: absolute;
  left: 68%;
  top: 45%;
  width: 20%;
  height: 20%;
  border: double;
  border-color: #42683c;
  color: #4CAF50;
  text-align: center;
  font-weight: bold;
  font-size: 200%;
}
