

<!DOCTYPE html>
<html>
<head>
<link href=https://fonts.googleapis.com/icon?family=Material+Icons rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="row">
</div>

<div class="midrow">

  <div class="container">
  <img src="/assets/capturis-logo.png" alt="Logo" class="logo"><br><br><br>
	<i class="glyphicon glyphicon-user" display= inline;></i>
    <input type="text" placeholder="Enter Username" name="uname" required> <br>

    <i class="glyphicon glyphicon-lock" display= inline;></i>
    <input type="password" placeholder="Enter Password" name="psw" required> <br><br>
        
    <button type="submit" [routerLink]="['/home']">Login</button><br>
    <a href= "#">Forgot password?</a><br>
    <a href = "#">Register</a><br><br><br>
  </div>
  </div>
  <div class="row"></div>
  
</body>
</html>
