
<div class="container">
        <div class="row">

            <div class="col-md-8 col-md-offset-2">
                <form role="form" method="POST" action="#">

                    <fieldset>

                    	<legend class="text-center">Account Registration</legend>

                        <div class="form-group col-md-6">
                            <label for="lastName">First name</label>
                          <input type="text" class="form-control" id="firstName" name="firstName" autofocus required [(ngModel)]="au.firstName">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="lastName">Last name</label>
                          <input type="text" class="form-control" id="lastName" name="lastName" required [(ngModel)]="au.lastName">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="">Email</label>
                          <input type="text" class="form-control" id="emailAddress" name="emailAddress" required [(ngModel)]="au.emailAddress">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="">Phone Number</label>
                          <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" required [(ngModel)]="au.phoneNumber">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">Street</label>
                          <input type="text" class="form-control" id="street" name="street" required [(ngModel)]="au.street">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">City</label>
                          <input type="text" class="form-control" id="city" name="city" required [(ngModel)]="au.city">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="">State</label>
                          <input type="text" class="form-control" id="state" maxlength="2" name="state" required [(ngModel)]="au.state">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="">Zip</label>
                          <input type="text" class="form-control" id="zipCode" name="zipCode" required [(ngModel)]="au.zipCode">
                        </div>

                      <div class="form-group col-md-6">
                        <label for="">Username</label>
                        <input type="text" class="form-control" id="username" name="username" required [(ngModel)]="au.username">
                      </div>
                        <div class="form-group col-md-6">
                            <label for="passwordHash">Password</label>
                            <input type="password" class="form-control" name="passwordHash" id="passwordHash" minlength="6" required [(ngModel)]="au.passwordHash">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="confirm_password">Confirm Password</label>
                            <input type="password" class="form-control" name="" id="confirm_password">
                        </div>
                      <div class="form-group col-md-6">
                        <label for="">Job code</label>
                        <input type="text" class="form-control" id="jobCode" name="jobCode" required [(ngModel)]="au.jobCode">
                      </div>
                    </fieldset>

                    <div class="form-group">
                        <div class="submit-button">
                            <button type="submit" class="btn btn-primary" (click) = "submitRegister()" [routerLink]="['login']">
                                Register
                            </button><br><br>
                            <a href="/login">Already have an account?</a>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
<!--<h3>Server Response: {{serverResponse}}</h3>-->
