<body>
<br>
<div id="header">
  <img src="/assets/capturis-logo.png" alt="Logo" class="center"><br><br><br>
  <h1><strong>10 Key Assessment Test</strong></h1>
</div>
	<div class="input-field">
  	<br><br><br><br>
		<input type="text" id = 'in' name="in" class="in" value = "{{index}}" (keyup) = "increment($event)" readonly>
		<input type="text" name = "num" class = "out" value = "{{ a }}" readonly><br>
		<textarea name="out" class="list" rows = "3" readonly>
			{{ b }}
			{{ c }}
			{{ d }}
		</textarea>
		<input type="text" id='clock' name= 'clock' class='clock' value="{{timeLeft}}" readonly>
	</div>
	<br><br>
</body>
