<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Login or Register</h1>
            <div class="account-wall">
                <img class="profile-img" src="/assets/login-avatar.png"
                    alt="">
                <form class="form-signin" method="post">
                <input type="text" class="form-control" placeholder="username" id="username" name="username" required autofocus [(ngModel)]="params.username">
                <input type="text" class="form-control" placeholder="userId" required [(ngModel)]="params.userId">
                  <input type="password" class="form-control" placeholder="passwordHash" required [(ngModel)]="params.passwordHash">
                  <input type="text" class="form-control" placeholder="accountLockFl" required [(ngModel)]="params.accountLockFl">
                  <input type="text" class="form-control" placeholder="lastLoginDate" required [(ngModel)]="params.lastLoginDate">
                <button class="btn btn-lg btn-primary btn-block" type="submit" [routerLink]="['home']">
                    Sign in</button>
                </form>
            </div>
            <a href='register' class="text-center new-account">Create an account</a>
        </div>
    </div>
</div>

<h2>UserName List</h2>

<div *ngFor="let car of tllist">
  {{car.username}}
</div>

<h3>Server Response: {{serverResponse}}</h3>
