      h2 {
      text-align: center;
      padding:10px;
      }
      .box
      {
      background-color: #4CAF50;
      width: 350px;
      height: 50px;
      padding: 30px;
      margin: 3px auto;
      }
      .box2
      {
      border:lightblue 1px solid;
      width: 350px;
      height: 250px;
      padding: 30px;
      margin: 1px auto;
      }
      .box3
      {
      background-color:lightgrey;
      border:blue 1px solid;
      width: 100px;
      height: 200px;
      }
      .desctext
      {
      color: white;
      }
      .AssessmentDesc
      {
      width: 25%; 
      float: right;
      }
      #uno
      {
      background-color:#4863A0;
      width: 150px;
      height: 35px;
      float: right;
      color: white;
      margin-bottom: 20px;
      }
      #tres
      {
      background-color:#4863A0;
      width: 150px;
      height: 35px;
      float: right;
      color: white;
      margin-bottom: 20px;
      }
      #cinco
      {
      background-color:#4863A0;
      width: 150px;
      height: 35px;
      float: right;
      color: white;
      }
      .HistoryBox
      {
      background-color: #4CAF50;
      width: 1750px;
      height: 50px;
      padding: 30px;
      margin-top: 335px;
      color:white;
      }
      .logout {
      	font-size: 30px;
      	float:right;
      	margin-right: 100px;
      }