html, body{
	height: 100%;
	background-color: WHITE;
	width: 100%;
	padding-top: 10px;
}

#header {
	width: 100%;
	text-align:center;
	height: 40%;
}
img.center {
  display:inline-block;
  margin: 0 auto;
}
input.in {
  position: relative;
  height: 50px;
  left: 60px;
  margin-left: 170px;
  width: 200px;
  font-size: 25px;
  float: left;
}
input.out{
	width: 200px;
	background-color: yellow;
	outline: none;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	margin-left: 200px;
}
textarea.list {
	position: relative;
	float: left;
	width: 200px;
	height: 100px;
	margin-left:200px;
	font-size: 15px;
}
input.clock {
	margin-left: 150px;
	width: 140px;
	height: 85px;
	text-align: center;
	font-size: 50px;
}