<body>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title class="mat-title">Ten Key Assessment</mat-card-title>
    <mat-card-subtitle>{{ testDesc }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <input type="text" id='userInput' class="in" (keydown)="increment($event)">

    <input type="text" class="out" value="{{ currentExpectedValue }}" readonly>
    <input type="text" class="next" value="{{ nextExpectedValue }}" readonly>
    <input type="text" class="next2" value="{{ thirdExpectedValue }}" readonly>
    <input type="text" class="next3" value="{{ fourthExpectedValue }}" readonly>
    <input type="text" id='clock' class='clock' value="{{ displayTime }}" readonly>

  </mat-card-content>
</mat-card>
</body>
